#main-nav ul {
  list-style: none;
  text-align: center;
  text-decoration: none;
  background-color: orangered;
  border-radius: 10px;
  height: 40px;
  width: 1100px;
}

#main-nav div ul li a {
  text-decoration: none;
  text-align: end;
  display: inline;
  color: rgb(251, 244, 244);
  margin-top: 10px;
  padding-top: 10px;
}

nav {
  position: fixed;
  z-index: 3;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: #582d18; /* Change color on hover */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  padding-top: 60px;
  background-color: orangered;
  border-radius: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.social-links a:hover {
  color: #0077B5;
}

.social-links a.facebook:hover {
  color: #3b5998;
}

.logo {
  text-align: center;
  display: inline;
  padding-top: 0px;
  margin-top: 2px;
  align-items: center;
}

#lo h2 {
  margin-top: 20px;
}

#lo h3 {
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: center;
}

.blackbox {
  background-color: black;
  height: 400px;
  padding-right: 0px;
  margin-right: 0px;
}

.para {
  margin-left: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 771px) {
  /* Your styles for screens wider than 600px go here */
  .blackbox {
    background-color: black;
    height: 300px;
    padding-right: 0px;
    margin-right: 0px;
    width: 300px;
  }
}
#profession {
  margin-top: 40px;
}

#designer {
  color: black;
  border-radius: 30px;
  text-align: center;
  padding: 4px 40px 4px 4px;
  border: 2px solid orange;
}

#developer {
  color: rgb(0, 0, 0);
  border-radius: 30px;
  text-align: center;
  padding: 4px 40px 4px 4px;
  border: 2px solid orange;
}

#bio h2 {
  text-align: center;
  margin-top: 60px;
  font-size: 50px;
  margin-bottom: 50px;
  color: orange;
}

#bio p {
  font-size: 25px;
}

#bio {
  margin-top: 40px;
}

#skills {
  border: 2px solid orange;
  margin-top: 70px;
  border-radius: 20px;
}

#skills h3 {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  color: orange;
}

#design h4 {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#design p {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

#dev h5 {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#dev p {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

#explode-view {
  max-width: 100%;
  /* width: 100vw; */
} 
#mywork h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 20px;
  color: orange;
}

#mywork h3 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}

.image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.img:hover {
  opacity: 0.9;
}

.image img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image::before {
  content: "";
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 0.3s ease black;
}

.image:hover img,
.image:hover::before {
  opacity: 0.5;
  transform: scale(1.02);
}

.text a {
  color: rgb(248, 237, 237);
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 43%;
  text-decoration: none;
  border: 2px solid white;
  background-color: orange;
  text-align: center;
}

html, body {
  scroll-behavior: smooth;
}

.grid-item {
  opacity: 0;
  transition: opacity 1.5s ease;
}

.grid-item.in-view {
  opacity: 1;
}

#mywork {
  height: 700px; /* Adjust the height as needed */
  overflow-y: auto;
  margin-top: 40px;
}

#contact h3 {
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
}

#contact h2 {
  font-size: 20px;
  border: 2px solid orange;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid orange;
  border-radius: 6px;
  margin-top: 7px;
  margin-bottom: 17px;
  resize: vertical;
}

input[type=submit] {
  background-color: orange;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 40px;
}

input[type=submit]:hover {
  background-color: #7d0202;
}/*# sourceMappingURL=main.css.map */