 
 
 
 
 #contact h3 {
    text-align: center;
   
    font-size: 50px;
    margin-top: 40px;
  }


  #contact h2 {
    font-size: 20px;
 border: 2px solid orange;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 20px;
  

    
  }


  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid orange;
    border-radius: 6px; 
    
    margin-top: 7px; 
    margin-bottom: 17px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  input[type=submit]:hover {
    background-color: #7d0202;
  }
  