

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    padding-top: 60px;
    background-color:orangered;
    border-radius: 20px;
  }


.social-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .social-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }

  .social-links a:hover {
    color: #0077B5; 
  }

 
  .social-links a.facebook:hover {
    color: #3b5998; 
  }