
 



 
 #main-nav ul  {
    list-style: none;
   text-align: center;
 
   text-decoration: none;
   background-color: rgb(80, 66, 16);
   height: 30px;
 
  
  

 }

 #main-nav  div ul li a{
  
    text-decoration: none;
    text-align: end;
    display: inline;
    color: rgb(251, 244, 244);
    
  
   



 }

 #main-nav {
   position: fixed;
   z-index: 1;
   background-color: rgb(80, 66, 16);

   
 }




 
 



