
 



 
 #main-nav ul  {
    list-style: none;
   text-align: center;
 
   text-decoration: none;
   background-color: rgb(0, 0, 0);
    height: 40px;
 
  
  

 }

 #main-nav  div ul li a{
  
    text-decoration: none;
    text-align: end;
    display: inline;
    color: rgb(251, 244, 244);
    margin-top: 10px;
    padding-top: 10px;
    
  
   



 }

 

nav{
  position: fixed;
  z-index: 3;
}




nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  
}

nav a:hover {
  color: #582d18; /* Change color on hover */
}
 



