

.logo{
    text-align: center;
    
    display: inline;
    
    
    padding-top: 0px;
    margin-top: 2px;
   
    align-items: center;
 }

 #lo h2{
    margin-top: 20px;
   
}

#lo h3{

    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;
}
