

.logo{
    text-align: center;
    
    display: inline;
    
    
    padding-top: 0px;
    margin-top: 2px;
   
    align-items: center;
 }

 #lo h2{
    margin-top: 20px;
   
}

#lo h3{

    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Whisper', cursive;
}

@media screen and (max-width: 558px){

    #lo h3{

        font-size: 30px;
        margin-bottom: 40px;
        margin-top: 20px;
        text-align: center;
        font-family: 'Whisper', cursive;
    }



}
