
#mywork h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 20px;
    color: orange;
    
 }
#mywork h3{
    text-align: center;
    font-size: 35px;
}


.image {
    position: relative;
    
    background-image: url(../images/EARBUD-DESKTOP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}




#loadmore a {
    text-align: center;
    color: azure;
    background-color: orange;
    border: 2px white solid;
    font-size: 30px;
    text-decoration: none;

   
}
#loadmore {
    text-align: end;
    margin-top: 40px;
    
}
.text  a {
    color: rgb(248, 237, 237);
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 43%;
    text-decoration: none;
    border: 2px solid white;
    background-color: orange;
    
    text-align: center;
}


@media screen and (max-width: 607px){
  .blackbox{
    width: 200px;
  }
  #loadmore a {
    text-align: center;
    color: azure;
    background-color: orange;
    border: 2px white solid;
    font-size: 20px;
    text-decoration: none;

   
}


  
}

